@media all and (min-width: 300px) {
  .about-container {
    width: 100%;
    height: 100vh;
  }
  .about {
    background-color: #981937;
    height: 55.5625px;
    font-weight: normal;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: Gold;
  }
  .description {
    color: black;
    padding: 0px 5px;
    text-align: justify;
  }
  .tech-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -30px;
    padding: 0px 5px;
  }
  .tech-title {
    width: 50%;
    height: 55.5625px;
    background-color: #981937;
    display: flex;
    justify-content: center;
    color: Gold;
    align-items: center;
    font-size: 1.5rem;
    font-weight: normal;
  }

  .technologies-list {
    width: 100%;
    margin: -5px 0 0 -30px;
    padding-top: 5px;
    background-color: #981937;
    display: flex;
    height: 180px;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .technologies-listItem {
    list-style: none;
  }
  .tech-image {
    width: 60px;
    height: 60px;
  }
}
