@media all and (min-width: 300px) {
  .contact-container {
    margin-top: 300px;
    width: 100%;
    height: 100vh;
  }
  .contact-title {
    background-color: rgb(245 29 29);
    height: 55.5625px;
    font-weight: normal;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: gold;
  }
  .work {
    color: gold;
    font-weight: normal;
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  .contact-description {
    color: white;
    padding: 20px 10px;
    text-align: center;
  }
  .contacts {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    /* background-color: red; */
    height: 350px;
  }
  .contacts-image {
    margin: 10px;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    justify-content: center;
  }

  .contacts-image-name {
    color: Gold;
    display: flex;
    justify-content: center;
  }
}
